.Todo-container {
  max-width: 600px;
  width: 100%;
  height: 100vh;
  padding-top: 45px;
  text-align: center;
  background: linear-gradient(0deg, #152431, #152431),
    conic-gradient(
      from 180deg at 50% 50%,
      #8fa8c1 0deg,
      rgba(143, 168, 193, 0) 360deg
    );
}

.Todo-container h1 {
  font-size: 40px;
  padding: 15px;
}
